In [10]:
for a in range(5):
    print( a*2)

0
2
4
6
8

In [12]:
a=5
while(a<10):
    a+=1
    print(a)

6
7
8
9
10

In [14]:
atuple=(12,34,45)
type (atuple)

tuple

In [16]:
dic={'name': 'shahid'}
dic

{'name': 'shahid'}

In [24]:
prices_in_rs= {'biryani':150, 'tikka':300, 'fish': 500}
prices_in_rs

{'biryani': 150, 'tikka': 300, 'fish': 500}

In [28]:
price_in_dollars={items:(price/160) for items,price in prices_in_rs.items() }
price_in_dollars

{'biryani': 0.9375, 'tikka': 1.875, 'fish': 3.125}

In [29]:
updated_prices={for item:prices in }

SyntaxError: invalid syntax (<ipython-input-29-bff7a613463e>, line 1)

In [33]:
rivers_country={'nile':'egypt', 'ganga': 'india','panama':"america"}
rivers_country

{'nile': 'egypt', 'ganga': 'india', 'panama': 'america'}

In [34]:
for a in rivers_country:
    print(rivers_country)

{'nile': 'egypt', 'ganga': 'india', 'panama': 'america'}
{'nile': 'egypt', 'ganga': 'india', 'panama': 'america'}
{'nile': 'egypt', 'ganga': 'india', 'panama': 'america'}

In [37]:
listoflist=[[1,2,3],[4,5,6],[7,8,9],[10,11,12],['a','b']]
listoflist

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], ['a', 'b']]

In [42]:
listoflist[-1][-1][0]

'b'

In [54]:
dicofdic={'saylani':
                  {'smit':['web','ds','ccna','ai'], 
                   'health':['opd', 'ot',]
                  },
           'Univeristy':
                  {'CS':['1st','2nd','3rd','4th'],
                  'admin':['fees', 'timetable','exams'] 
                   }
          }
dicofdic

{'saylani': {'smit': ['web', 'ds', 'ccna', 'ai'], 'health': ['opd', 'ot']},
 'Univeristy': {'CS': ['1st', '2nd', '3rd', '4th'],
  'admin': ['fees', 'timetable', 'exams']}}

In [59]:
'Univeristy' in dicofdic

True

In [60]:
for pk,pv in dicofdic.items():
    if pk=='Univeristy':
        for uk,uv in dicofdic[pk].items():
            if uk=='admin':
                print('exams'in uv)

True

In [62]:
for v in dicofdic['Univeristy']['admin']:
    if v=='exams':
        print(True)

True